#root {
  background-color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #bb4e25;
}
.logo {
  width: 118px;
  height: 113px;
}
.nav-items {
  margin: 0px 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  font-size: 24px;
  margin: 10px;
}
.nav-items > ul .login-btn {
  border: 1px solid transparent;
  font-size: 20px;
  padding: 4px 15px;
  margin: 19px 0px;
  border-radius: 20px;
  background-color: #c4623d;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}
.nav-items > ul .login-btn:hover {
  background-color: #fff;
  color: #c4623d;
  border: 1px solid #c4623d;
  border-radius: 20px;
}

.body {
  margin: 10px 0px;
}
.filter-container {
  display: flex;
  cursor: pointer;
}
.search-container {
  margin: 0px 10px 0px 4px;
}
.search-bar {
  border-radius: 2px;
  border: 1px solid #c4623d;
}
.search-btn {
  margin-left: 10px;
  background-color: #fff;
  color: #c4623d;
  border: 1px solid #c4623d;
  border-radius: 20px;
  font-size: 13px;
  padding: 5px 15px;
  transition: all 0.4s;
}
.search-btn:hover {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #c4623d;
  color: #fff;
  cursor: pointer;
}
.res-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.res-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  background-color: #eaeaea;
  word-wrap: break-word;
}
.res-card:hover {
  cursor: pointer;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgba(218, 220, 230, 0.6);
}
.res-logo {
  width: 100%;
}
.shimmer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 270px;
  background-color: #e3e3e3;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}
